.toolTip {
  padding: 0.5em;
  left: 0%;
  bottom: 95%;
  margin-left: 0.7em;
  font-style: italic;
  font-size: 0.6em;
  color: #ffffff;
  text-shadow: 1px 1px 1px rgb(0 0 0 / 10%);
  text-align: center;
  border: 1px solid $tertiary;
  background: $primary;
  text-indent: 0px;
  border-radius: 5px;
  position: absolute;
  visibility: visible;
  pointer-events: none;

  &::before,
  &::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0px;
    margin-left: 15px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid $primary;
  }
}
