.comingSoon {
  .popup {
    width: clamp(30vw, 90%, 550px); // min, test, max
    position: relative;
    border-radius: 0.7em;
    -moz-box-shadow: 0px 25px 15px 6px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 25px 15px 6px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 25px 15px 6px rgba(0, 0, 0, 0.2);
    background-color: white;

    .body {
      z-index: 3;
      position: relative;
    }

    &::after {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      content: "";
      margin: 0px 10px;
      z-index: 1;
      box-shadow: 0px 10px 0px 0px rgba(255, 255, 255, 0.25);
      width: calc(100% - 20px);
      height: 100%;
      border-radius: 0.2em;
    }

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      content: "";
      margin: 0px 20px;
      z-index: 2;
      box-shadow: 0px 20px 0px 0px rgba(255, 255, 255, 0.25);
      width: calc(100% - 40px);
      height: 100%;
      border-radius: 0.2em;
    }

    &__close {
      &::before,
      &::after {
        background-color: black;
      }
    }

    .head {
      transition: all 0.25s;
      background: linear-gradient(
        90deg,
        rgba(59, 103, 178, 1) 0%,
        rgba(80, 79, 173, 1) 100%
      );
      padding: 40px;
      border-radius: 0.6em 0.6em 0 0;
      -moz-box-shadow: 0px 5px 15px 6px rgba(0, 0, 0, 0.1);
      -webkit-box-shadow: 0px 5px 15px 6px rgba(0, 0, 0, 0.1);
      box-shadow: 0px 5px 15px 6px rgba(0, 0, 0, 0.1);
      text-align: center;
      overflow: hidden;
      position: relative;

      &:hover {
        background: linear-gradient(
          90deg,
          rgba(80, 79, 173, 1) 0%,
          rgba(59, 103, 178, 1) 100%
        );

        > div {
          background-position: -180px 0px;
        }
      }

      &::before {
        content: "";
        position: absolute;
        right: -7px;
        top: -32px;
        border-top: 50px solid transparent;
        border-bottom: 50px solid transparent;
        border-right: 50px solid white;
        transform: rotate(135deg);
      }

      > div {
        background: url(../../img/sprites/planet-icons.png) no-repeat;
        width: 150px;
        height: 104px;
        display: inline-block;
        position: relative;

        &:hover {
          background-position: -394px 0px;
        }
      }
    }

    .body {
      padding: 40px 40px 21px 40px;

      &:hover > h1,
      &:hover > p {
        color: black;
      }

      h1 {
        margin: 0;
        color: #a8afb2;
        font-size: 130%;
      }

      h1,
      p {
        transition: color 0.5s;
      }
    }
  }
}
